/* Footer */
/* footer {
  padding: 24px;
  width: 100%;
  height: 90px;
  background-color: #c64643;
}

footer span.logo {
  font-family: "Oleo Script";
  font-size: 24pt;
  color: #fff;
  padding-left: 24px;
} */