/* header */
header {
  background-color: var(--primary-text-color);
  display: flex;
  flex-flow: row nowrap;
  max-width: 997px;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 0;
  margin: 1rem auto 2rem;
}
header a img {
  width: 225px;
  height: 60px;
}

header nav ul {
  display: flex;
  gap: 20px;
  /* padding-right: 24px; */
}

/* menu responsivo - input (sem js) */
/* header nav input.checkbox, header nav .label-menu {
  display: none;
} */
/* menu responsivo - btn (sem [utilizando esse] e com js) */
header nav .btn-menu, header nav .btn-menu {
  display: none;
}

header nav li {
  width: 100%;
  height: 40px;
  padding: 8px 6px 8px 0;
  border-bottom: 4px solid gray;
}

header nav ul li.active {
  border-bottom: 4px solid #9c100e;
}

header nav ul li:hover {
  background-color: #8080802b;
  border-radius: 5px 5px 0 0;
}

header nav ul li a {
  width: 65px;
  text-decoration: none;
  color: #404040;
  text-transform: lowercase;
}

@media screen and (max-width: 1024px) {
  header{
    margin: 0 auto 1rem;
    width: 90vw;
  }
}
@media screen and (max-width: 767px) {
  header nav ul {
    display: block;
    position: absolute;
    top: 4.6rem;
    left: 0;
    background: var(--bg-color);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  header nav ul li {
    border: none;
  }
  header nav ul li a {
    padding: 1rem 0;
    margin: 1rem 0;
    color: var(--primary-text-color);
  }
  /* menu responsivo - input (sem js) */
  header nav .label-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-color);
    padding-left: 1rem;
    cursor: pointer;
  }
  header nav .label-menu .hamburger {
    border-top: 2px solid;
    width: 25px;
    margin-top: 5px;
  }
  header nav .label-menu .hamburger::before, header nav .label-menu .hamburger::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  header nav .checkbox:checked ~ ul {
    height: calc(100vh - 4.6rem);
    visibility: visible;
    overflow-y: auto;
  }
  header nav .checkbox:checked ~ .label-menu .hamburger {
    border-top-color: transparent;
    top: 5px
  }
  header nav .checkbox:checked ~ .label-menu .hamburger::before {
    transform: rotate(135deg);
    margin-top: -3px;
  }
  header nav .checkbox:checked ~ .label-menu .hamburger::after {
    transform: rotate(-135deg);
    margin-top: -1px;
  }


  /* menu responsivo - btn (sem js) */
  header nav .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-color);
    padding-left: 1rem;
    cursor: pointer;
    width: auto;
  }
  header nav .btn-menu .hamburger {
    border-top: 2px solid;
    width: 25px;
    margin-top: 5px;
  }
  header nav .btn-menu .hamburger::before, header nav .btn-menu .hamburger::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  /* header nav:focus-within ul {
    height: calc(100vh - 4.6rem);
    visibility: visible;
    overflow-y: auto;
  }
  header nav:focus-within .hamburger {
    border-top-color: transparent;
    top: 5px
  }
  header nav:focus-within .hamburger::before {
    transform: rotate(135deg);
    margin-top: -3px;
  }
  header nav:focus-within .hamburger::after {
    transform: rotate(-135deg);
    margin-top: -1px;
  } */

  /* menu responsivo - btn (com js) */
  header nav.active ul {
    height: calc(100vh - 4.6rem);
    visibility: visible;
    overflow-y: auto;
  }
  header nav.active .hamburger {
    border-top-color: transparent;
    top: 5px
  }
  header nav.active .hamburger::before {
    transform: rotate(135deg);
    margin-top: -3px;
  }
  header nav.active .hamburger::after {
    transform: rotate(-135deg);
    margin-top: -1px;
  }
}
@media screen and (max-width: 590px) {
  header a img {
    width: 165px;
    height: 50px;
  }
}
@media screen and (max-width: 320px) {
  header a {
    margin: 0 0 0 5px;
  }
  header a {
    margin: 0;
  }
}