/* Import da fonte do projeto */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Import dos arquivos do em comum de TODAs as páginas */
@import "./styles/header.css";
@import "./styles/subheader.css";
@import "./styles/page-title.css";
@import "./styles/footer.css";

/* Import das páginas */
@import "./styles/home.css";
@import "./styles/denuncia.css";
@import "./styles/sobre.css";
@import "./styles/mural.css";
@import "./styles/mapas.css";
@import "./styles/links.css";

/* Reset da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cores do projeto */
:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #404040;
  --link-color: #9C100E;
  --bg-color: #BD2B28;
  --secondary-bg-color: #C64643;
  --btn-bg-color: #F55853;
  --support-color: #BCBCBC;
}

/* Tags padrões */
html {
  width: 100%;
  height: auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  height: auto;
  width: 100%;
}

main {
  width: 100%;
  min-height: 720px;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}