.page-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.page-sobre>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 374px;

}

.page-sobre>div>div {
  flex: 1;
  max-width: 50%;

}

.imagem-sobre {
  text-align: right;
}


.imagem-sobre-ultima {
  text-align: center;
  margin-top: 100px;
}

/* Desktop II */
@media screen and (max-width: 1240px) {
  .page-sobre>div {
    padding: 0 15px;
    height: auto;
    flex-direction: column;
  }
}

/* Desktop I */
@media screen and (max-width: 1024px) {
  .page-sobre>div {
    max-width: 100%;
    flex-direction: column;
    height: auto;
    padding: 0 15px;
  }
}

/* Table/Mobile começa aqui */
@media screen and (max-width: 767px) {
  .page-sobre>div {
    padding: 0 10px;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .imagem-sobre img {
    width: 100%;
    margin: 25px auto 0;
  }
  .imagem-sobre-ultima img {
    width: 100%;
  }
  
}

/* Mobile começa aqui*/
@media screen and (max-width: 460px) {
  .page-sobre>div {
    flex-direction: column;
    height: auto;
    padding: 0 15px;
    max-width: 100%;
    margin-top: auto;
  }
}

@media screen and (max-width: 360px) {
  .page-sobre>div {
    padding: 0 15px;
    height: auto;
    flex-direction: column;
    max-width: 100%;
    margin-top: auto;
  }
}